<div>
  <div class="pull-right">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="logout()">Log Out</button>
  </div>
  <nav class="navbar navbar-expand-sm bg-light">
    <i class="glyphicon glyphicon-search"></i>
    <!--<i class="navbar-toggler-icon fa fa-bars"> </i>-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/superheros']">SuperHeros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/superteam']">SuperTeam</a>
      </li>
    </ul>
  </nav>
</div>
