<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h3>Superheros</h3>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Vignette</th>
          <th>
            <!--<button class="btn btn-outline-primary" (click)="operation = 'add'; inithero();">ADD</button>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of LesSuperheros | paginate: { id: 'foo',
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">
          <td>{{hero.name}}</td>
          <td>{{hero.description}}</td>
          <td>{{hero.vignette}}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="addSuperHero(hero)">Add</button>
            <!--<button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedhero = hero ; ">Remove</button>-->
          </td>
        </tr>
        <!--<nav aria-label="Page navigation example">-->
          <!--<ul class="pagination">-->
            <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
          <!--</ul>-->
        <!--</nav>-->

        </tbody>
      </table>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h5> Ajouter un Personnage </h5>
        </div>
        <div class="card-body">
          <div>
            <form name="form" role="form">
              <div class="form-group">
                <label class="form-control-label" for="name">nom</label>
                <input type="text" class="form-control" [(ngModel)]="selectedSuperHero.name" id="name" name="name" minlength="5" maxlength="20">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control"  [(ngModel)]="selectedSuperHero.description" id="description" name="description" minlength="5" maxlength="200">
              </div>
              <div class="form-group">
                <label for="vignette">Vignette</label>
                <input type="text" class="form-control"   [(ngModel)]="selectedSuperHero.vignette" id="vignette" name="vignette" >
              </div>
              <button class="btn btn-success" (click)="addSuperHeroInSuperTeam()">
                Ajouter
              </button>
            </form>
          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>

  </div>

</div>
