<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h3>SuperTeam</h3>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of LesSuperTeam | paginate: { id: 'foo',
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">
          <td>{{team.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
