<div class="container">
  <div class="row">
      <div class="col-lg-7">
        <h3>Superheros</h3>
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Vignette</th>
                <th>
                  <button class="btn btn-outline-primary" (click)="operation = 'add'; initProduit();">ADD</button>
                </th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of LesSuperheros">
              <td>{{produit.name}}</td>
              <td>{{produit.description}}</td>
              <td>{{produit.vignette}}</td>
              <td>
                <button class="btn btn-outline-primary" (click)="operation = 'edit'; selectedProduit = produit ;">Edit</button>
                <button class="btn btn-outline-danger" (click)="operation = 'remove'; selectedProduit = produit ; ">Remove</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{operation == 'add' ? 'Ajouter Produit' :
            operation == 'edit' ? 'Modifier Produit' :
            operation == 'remove' ? 'Supprimer Produit' : ''}}
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'add' || operation == 'edit'">
            <form [formGroup]="produitForm" >
              <div class="form-group">
                <label for="">Reference</label>
                <input type="text" class="form-control" formControlName="ref" [(ngModel)]="selectedProduit.ref"/>
              </div>
              <div class="alert alert-danger" *ngIf="produitForm.controls['ref'].invalid && (produitForm.controls['ref'].touch ||
               produitForm.controls['ref'].dirty)">
                 Reference est obligatoire
              </div>
              <div class="form-group">
                <label for="">Quantité</label>
                <input type="number" class="form-control" formControlName="quantite" [(ngModel)]="selectedProduit.quantite"/>
              </div>
              <div class="form-group">
                <label for="">Prix Unitaire</label>
                <input type="number" class="form-control" formControlName="prixUnitaire" [(ngModel)]="selectedProduit.prixUnitaire"/>
              </div>
              <button class="btn btn-success" [disabled]="produitForm.prestine || produitForm.invalid"
              (click)="operation == 'add' ? addProduit() : updateProduit()">
              {{operation == 'add' ? 'Ajouter' :
                operation == 'edit' ? 'Modifier' :''}}
            </button>
            </form>
          </div>

          <div *ngIf="operation == 'remove'">
            <p class="card-title">
              Reference: {{selectedProduit.ref}}
            </p>
            <p>
              Voulez-vous supprimer ce produit?
            </p>
            <button class="btn btn-success" [disabled]="!selectedProduit.ref" (click)="deleteProduit()">Confirmer</button>
          </div>

        </div>
        <div class="card-footer">

        </div>
      </div>
      </div>

  </div>

</div>
