<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="[{outlets: { contentOutlet: 'superheros' }}]">SuperHero</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"
         [routerLink]="[{outlets: { contentOutlet: 'superteam' }}]">SuperTeam</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"
         [routerLink]="[{outlets: { contentOutlet: 'dashboard' }}]">Dashboard</a>
    </li>
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" routerLinkActive = "active"  [routerLink] = "[{outlets: { contentOutlet: 'produit' }}]" >Produits</a>-->
    <!--</li>-->
  </ul>
</nav>
